@import "styles/variables";
@import "styles/breakpoints";

.menu {
  display: flex;
  padding-block: 2rem;
  padding-inline: $padding-horizontal-mobile;
  
  @media(min-width: $tablet) {
    padding-inline: $padding-horizontal-tablet;
  }
  @media(min-width: $desktop_sm) {
    padding-inline: $padding-horizontal-desktop;
  }
 
  &__list {
    align-items: center;
    display: flex;
  }
  &__link {
    list-style-type: none;
    padding: 0 20px;
    a {
      color: $dark;
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;

      &:hover {
        color: $dark-grey;
      }
    }
  }
}