@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;

  /* button config */
  button {
    cursor: pointer;
  }
  /* link config */
  a {
    cursor: pointer;
  }
  /* display config */
  header, section {
    width: 100%;
    max-width: 122rem;
    margin: 0 auto;
  }
  /*font config*/
  h1 {
    font-size: 2.4rem;
  }
  p, span, div, a {
    font-size: 1.6rem;
  }
  /*input config */
  input {
    border: none;
    outline: none;
  }
}


