@import "styles/variables";

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 24rem;
  height: 4rem;
  padding: 0 4rem;
  background-color: $grey;
  border: none;
  border-radius: 0.4rem 0.4rem 0 0;
  font-weight: bold;

  &--active {
    background-color: $blue;
    color: white;
  }
  
  &__options {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    
    &--active {
      display: flex;
      flex-direction: column;
    }
  }
  &__option {
    align-items: center;
    background-color: $grey;
    border-top: 2px solid $light-grey;
    box-sizing: border-box;
    color: $black;
    display: flex;
    height: 40px;
    justify-content: center;
    width: inherit;
    &:hover,
    &--ativo {
      background-color: $blue;
      color: white;
    }
  }
}